
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  .home .headerContainer p {
    margin-top: 15px;
    padding: 0;
    font-size: 22px;
    font-weight: lighter;
    color: black;
    font-family: "Lora";
  }

  

  
 